
body {
	margin: 0px 0px;
	background: url("assets/images/cheap_diagonal_fabric.png");
}

p  {color: #777777;
	text-align: left;
	font-size: 20px;
}
h1 {
	color: #4aaaa5;
	margin-left: 50px;
	margin-right: 50px;
}
hr {
	margin-left: 50px;
	margin-right: 50px;

}
img {
	border: 1px solid #ddd;
	padding: 5px;
	width: 150px;
	margin-left: 50px;
	margin-right: 50px;
	float: left;
}

#main_container {
	width: 960px;
	height: 700px;
	margin: 40px auto;
	border-width: 5px;
	border-color: #ffffff;
	border-top: 1px;
	border-bottom: 1px;
}

header {
	height: 100px;
	background-color: #ffffff;
	border: #cccccc;
	font-family:'Georgia', Times, Times New Roman, serif;
	text-align: middle;
	color: #777777;
	margin: auto;
	border-bottom: 2px solid darkgray;

}
#name{
	height: 70px;
	width: 250px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia';
	text-align: center;
	clear: left;
	font-size: 30px;
	display: inline-block;
	padding-top: 30px;
	
}

#nav {

	color: #777777;
	float: right;
	display: inline-block;
	padding-top: 40px;
	padding-right: 10px;
	font-size: 20px;

}
#nav_container{
	width: 960px;
	margin: auto;
}



#main_section {
	width: 650px;
	float: left;
	background-color: #ffffff ;
	height: 700px;
	border: 2px solid darkgray;


}

#main_aside{
	width: 270px;
	background-color: white;
	float: right;
	height: 270px;
	border: 2px solid darkgray;
	color: #4aaaa5;
	text-align: center;
}

footer {
	height: 100px;
	background-color: #666666;
	margin: auto;
	color: #777777;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	padding-top: 40px;
	padding-right: 10px;
}

a:link {
	color: #777777;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #777777;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: ##4aaaa5;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #777777;
	background-color: transparent;
	text-decoration: underline;
}

.connect{
	display: inline-block;
	width: 50px;
	float: left;
	margin: auto;
}

.connect_group {
	display: inline-block;
}

.button {
	background-color: #4aaaa5;
	border: none;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

#contact_form {
	padding-left: 50px;
	color: #777777;
	font-size: 20px;
}

input {
	display: block;
	width: 90%;

}

textarea {
	display: block;
	width: 90%;
	height: 300px;
	
}

div>img {
	margin: 20px 80px;
}


